/* WhatsApp Scroll Style Button */
.whatsapp-float {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  transform: translateY(0);

  box-shadow:
    0 6px 15px rgba(0, 0, 0, 0.25),
    0 0 12px rgba(37, 211, 102, 0.7);
}

.whatsapp-float:hover {
  background-color: color-mix(in srgb, #25D366, transparent 20%);
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.35),
    0 0 18px rgba(37, 211, 102, 0.9);
}

.whatsapp-float img {
  width: 40px;
  height: 40px;
}

.whatsapp-float.active {
  visibility: visible;
  opacity: 1;
  bottom: 17px;
  animation: whatsapp-jump 5s ease-in-out infinite;
}

@keyframes whatsapp-jump {
  0% { transform: translateY(0); }
  6% { transform: translateY(-12px); }
  12% { transform: translateY(0); }
  18% { transform: translateY(-5px); }
  24% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

/* mobile */
@media (max-width:600px) {
  .whatsapp-icon {
    max-width: 40px;
    padding: 3px;
  }

  .whatsapp-float {
    width: 48px;
    height: 48px;
  }
}
